### Import libaries

In [163]:
import pandas as pd 
import numpy as np

In [164]:
path = r"C:\Users\Anik\Desktop\wh.csv"

In [165]:
df = pd.read_csv(path)

In [166]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

### Preprocessing

In [167]:
from sklearn import preprocessing

In [168]:
label_encoder = preprocessing.LabelEncoder()
df['Gender'] = label_encoder.fit_transform(df['Gender'])

In [169]:
df.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [170]:
from sklearn.preprocessing import MinMaxScaler

In [171]:
scaler = MinMaxScaler()
df['Height'] = scaler.fit_transform(df[['Height']])

In [172]:
df.head()

   Gender    Height      Weight
0       1  0.744399  241.893563
1       1  0.548328  162.310473
2       1  0.754583  212.740856
3       1  0.662487  220.042470
4       1  0.590905  206.349801

### separete data set

In [173]:
x = df.drop('Weight',axis = 1)

In [174]:
x.head()

   Gender    Height
0       1  0.744399
1       1  0.548328
2       1  0.754583
3       1  0.662487
4       1  0.590905

In [175]:
y = df[['Weight']]

In [176]:
y.head()

       Weight
0  241.893563
1  162.310473
2  212.740856
3  220.042470
4  206.349801

In [177]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.30,random_state=1)

In [178]:
xtrain.head()

      Gender    Height
1277       1  0.687816
5361       0  0.245548
5728       0  0.561389
4276       1  0.528553
3112       1  0.401598

In [179]:
xtest.head()

      Gender    Height
7154       0  0.404565
3258       1  0.627403
2188       1  0.543749
5609       0  0.440161
3186       1  0.630376

### Apply linear regression

In [180]:
from sklearn.linear_model import LinearRegression

In [181]:
lir = LinearRegression()

In [182]:
lir.fit(xtrain,ytrain)

LinearRegression()

In [183]:
lir.score(xtrain,ytrain)

0.8972135459668117

In [184]:
lir.score(xtest,ytest)

0.9059959607091157

In [185]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [186]:
mse = mean_squared_error(ytest, lir.predict(xtest))

In [187]:
mse

99.67250998070068

In [188]:
mean_absolute_error(ytest, lir.predict(xtest))

7.982132592729149

### Apply KNN model

In [189]:
from sklearn.neighbors import KNeighborsRegressor

In [190]:
neigh = KNeighborsRegressor(n_neighbors = 3)

In [191]:
neigh.fit(xtrain,ytrain)

KNeighborsRegressor(n_neighbors=3)

In [192]:
neigh.score(xtrain,ytrain)

0.9325829542402753

In [193]:
neigh.score(xtest,ytest)

0.8689981509985368

### Finding mse and abs

In [194]:
mse = mean_squared_error(ytest, neigh.predict(xtest))

In [195]:
mse

138.90129829085723

In [196]:
mean_absolute_error(ytest, neigh.predict(xtest))

9.3564420472562

### Applying KNN for Classification

#### Separate the data set

In [197]:
df.head()

   Gender    Height      Weight
0       1  0.744399  241.893563
1       1  0.548328  162.310473
2       1  0.754583  212.740856
3       1  0.662487  220.042470
4       1  0.590905  206.349801

In [198]:
x1 = df.drop('Gender',axis=1)

In [199]:
x1.head()

     Height      Weight
0  0.744399  241.893563
1  0.548328  162.310473
2  0.754583  212.740856
3  0.662487  220.042470
4  0.590905  206.349801

In [200]:
y1 = df[['Gender']]

In [201]:
y1.head()

   Gender
0       1
1       1
2       1
3       1
4       1

In [202]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x1,y1,test_size=.30,random_state=1)

In [203]:
x_train.head()

        Height      Weight
1277  0.687816  189.165592
5361  0.245548  124.876796
5728  0.561389  168.864403
4276  0.528553  172.941248
3112  0.401598  144.551044

In [204]:
y_test.head()

      Gender
7154       0
3258       1
2188       1
5609       0
3186       1

### Appling KNN classifier

In [205]:
from sklearn.neighbors import KNeighborsClassifier

In [206]:
neighc = KNeighborsClassifier(n_neighbors=3)

In [207]:
neighc.fit(x_train,y_train)

C:\Users\Anik\anaconda3\envs\MLenv\lib\site-packages\sklearn\neighbors\_classification.py:228: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [208]:
neighc.score(x_train,y_train)

0.9335337341349366

In [209]:
neighc.score(x_test,y_test)

0.9037787300350604

### finding mse and abs

In [210]:
mse = mean_squared_error(y_test, neighc.predict(x_test))

In [211]:
mse

0.09622126996493961

In [212]:
mean_absolute_error(y_test, neighc.predict(x_test))

0.09622126996493961